@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

.tiptap.ProseMirror-focused {
    border: none !important;
    outline: none !important;
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.table-loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    background: #fff;
    box-shadow:
        -24px 0 #fff,
        24px 0 #fff;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
}

.swa-popup,
.swa-container {
    z-index: 99999 !important;
}

@keyframes shadowPulse {
    33% {
        background: #fff;
        box-shadow:
            -24px 0 #ff3d00,
            24px 0 #fff;
    }
    66% {
        background: #ff3d00;
        box-shadow:
            -24px 0 #fff,
            24px 0 #fff;
    }
    100% {
        background: #fff;
        box-shadow:
            -24px 0 #fff,
            24px 0 #ff3d00;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .button-group {
        @apply flex flex-wrap gap-2;
    }

    .button-group button {
        @apply px-4 py-2 text-xs font-thin bg-gray-200 rounded-xl hover:bg-gray-300;
    }

    .button-group button.is-active {
        @apply bg-indigo-500 hover:bg-indigo-600 text-white;
    }
}
.hover\:shadow-solid1:hover {
    box-shadow: 2px 2px 0 #DBFF00; /* Solid shadow with no blur */
  }
  .shadow-solid {
    box-shadow: 5px 5px 0 #DBFF00; /* Solid shadow with no blur */
  }
  .bg-effect {
    position: relative;
    display: inline-block;
    z-index: 1;
    transform: rotate(-5deg); /* Memiringkan teks */
  }
  
  .bg-effect::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130%;
    height: 150%;
    background-color: #DBFF00; /* Background kuning */
    transform: translate(-50%, -50%) rotate(0deg); /* Memastikan background tetap pada sudut awal */
    z-index: -2;
    box-shadow: 10px 10px 0px #000000; /* Bayangan solid berwarna hitam */
  }
  
  
  
  .bg-effect1 {
    position: relative;
    display: inline-block;
    z-index: 1;
    transform: rotate(-5deg); /* Memiringkan teks */
  }
  
  .bg-effect1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130%;
    height: 150%;
    background-color: #DBFF00; /* Background kuning */
    transform: translate(-50%, -50%) rotate(0deg); /* Memastikan background tetap pada sudut awal */
    z-index: -2;
    box-shadow: 10px 10px 0px #fff; /* Bayangan solid berwarna hitam */
  }
  
  
  